src/main/resources/note.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="note" type="noteType"/>
  <xs:complexType name="customerType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="age"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="noteType">
    <xs:sequence>
      <xs:element type="xs:string" name="to"/>
      <xs:element type="xs:string" name="from"/>
      <xs:element type="xs:string" name="heading"/>
      <xs:element type="xs:string" name="body"/>
      <xs:element type="customerType" name="customer"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>