src/main/resources/ShowBusinessPartnerByID.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ShowBusinessPartnerByID" type="ShowBusinessPartnerByIDType"/>
  <xs:complexType name="IDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="schemeID"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ApplicationIdentifiersType">
    <xs:sequence>
      <xs:element type="IDType" name="ID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartnerIdentifierType">
    <xs:sequence>
      <xs:element type="ApplicationIdentifiersType" name="ApplicationIdentifiers"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameType">
    <xs:sequence>
      <xs:element type="xs:string" name="FirstName"/>
      <xs:element type="xs:string" name="LastName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LanguageType">
    <xs:sequence>
      <xs:element type="xs:string" name="LanguageCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LanguagesType">
    <xs:sequence>
      <xs:element type="LanguageType" name="Language"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element type="xs:string" name="Salutation"/>
      <xs:element type="NameType" name="Name"/>
      <xs:element type="LanguagesType" name="Languages"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartnerKindChoiceType">
    <xs:sequence>
      <xs:element type="xs:string" name="PartnerKind"/>
      <xs:element type="PersonType" name="Person"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="schemeID"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StreetAddressType">
    <xs:sequence>
      <xs:element type="xs:string" name="Street"/>
      <xs:element type="xs:string" name="HouseNumber"/>
      <xs:element type="xs:string" name="PostalCode"/>
      <xs:element type="xs:string" name="City"/>
      <xs:element type="xs:string" name="State"/>
      <xs:element type="xs:string" name="Country"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressKindChoiceType">
    <xs:sequence>
      <xs:element type="xs:string" name="AddressKind"/>
      <xs:element type="StreetAddressType" name="StreetAddress"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsageType">
    <xs:sequence>
      <xs:element type="xs:string" name="UsageType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsagesType">
    <xs:sequence>
      <xs:element type="UsageType" name="Usage"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element type="AddressIDType" name="AddressID"/>
      <xs:element type="xs:string" name="IsStandardAddressIND"/>
      <xs:element type="AddressKindChoiceType" name="AddressKindChoice"/>
      <xs:element type="UsagesType" name="Usages"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressesType">
    <xs:sequence>
      <xs:element type="AddressType" name="Address"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhoneType">
    <xs:sequence>
      <xs:element type="xs:string" name="Number"/>
      <xs:element type="xs:string" name="MobileIND"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChannelTypeChoiceType">
    <xs:sequence>
      <xs:element type="xs:string" name="ChannelType"/>
      <xs:element type="PhoneType" name="Phone"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommunicationChannelType">
    <xs:sequence>
      <xs:element type="xs:string" name="IsStandardIND"/>
      <xs:element type="ChannelTypeChoiceType" name="ChannelTypeChoice"/>
      <xs:element type="xs:string" name="Usage"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommunicationChannelsType">
    <xs:sequence>
      <xs:element type="CommunicationChannelType" name="CommunicationChannel"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InactiveStatusType">
    <xs:sequence>
      <xs:element type="xs:string" name="InactiveIND"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimestampsType">
    <xs:sequence>
      <xs:element type="xs:string" name="LastChange"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProcessingInformationType">
    <xs:sequence>
      <xs:element type="TimestampsType" name="Timestamps"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ControlDataType">
    <xs:sequence>
      <xs:element type="xs:string" name="ToBeArchivedIND"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartnerType">
    <xs:sequence>
      <xs:element type="PartnerKindChoiceType" name="PartnerKindChoice"/>
      <xs:element type="AddressesType" name="Addresses"/>
      <xs:element type="CommunicationChannelsType" name="CommunicationChannels"/>
      <xs:element type="InactiveStatusType" name="InactiveStatus"/>
      <xs:element type="ProcessingInformationType" name="ProcessingInformation"/>
      <xs:element type="ControlDataType" name="ControlData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarketingBlockadeType">
    <xs:sequence>
      <xs:element type="xs:string" name="BlockType"/>
      <xs:element type="xs:string" name="BlockedIND"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarketingBlockadesType">
    <xs:sequence>
      <xs:element type="MarketingBlockadeType" name="MarketingBlockade" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarketingAllowanceType">
    <xs:sequence>
      <xs:element type="xs:string" name="GeneralMarketingAllowanceIND"/>
      <xs:element type="MarketingBlockadesType" name="MarketingBlockades"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarketingAllowancesType">
    <xs:sequence>
      <xs:element type="MarketingAllowanceType" name="MarketingAllowance"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomerDetailsType">
    <xs:sequence>
      <xs:element type="MarketingAllowancesType" name="MarketingAllowances"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessPartnerCompoundType">
    <xs:sequence>
      <xs:element type="PartnerIdentifierType" name="PartnerIdentifier"/>
      <xs:element type="PartnerType" name="Partner"/>
      <xs:element type="CustomerDetailsType" name="CustomerDetails"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShowBusinessPartnerByIDType">
    <xs:sequence>
      <xs:element type="BusinessPartnerCompoundType" name="BusinessPartnerCompound"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>